.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.form {
  height: 50vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0.1px 2px 7px 0.8px rgb(73, 73, 234);
  border-radius: 4px;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  height: 3vh;
  border: none;
  border-bottom: 2px solid rgb(73, 73, 234);
  outline: none;
  border-radius: 3px;
  font: normal 500 22px/41px "Roboto";
}

input[type="submit"] {
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  color: rgb(54, 54, 246) e;
  font-weight: 600;
  font-size: 22px;
}

.form-item label {
  font: normal 500 22px/41px "Roboto";
}

@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
  }
}
